* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(123, 73, 73);
}

body {
  display: flex;
  flex-direction: column;
}

.block1 {
  display: flex;
  width: 100%;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  margin: auto;
}
